function App(){
  return(
    <div>
      <PostComponent/>
    </div>
  )
}
const style={width:200,backgroundColor:"pink",borderRadius:10,borderColor:"black",borderWidth:1,display:"flex"}
function PostComponent(){
  return<div style={style}>
      <img src={"https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcRys3EE_iaBjNvT1ybIeGvK3ofEU2PRXCb7SI8M2Q_tkGvXeSqAflEwlBKlhvHbTz9NiZsPEP8j_YMCXevva_zNGA"} style={{
        width:40,
        height:40,
        borderRadius:20
      }}/>

    
    
    <div style={{fontSize:10}}>
      <b>
        100x devs
      </b>
      
      <div>12,00 followers</div>
      <div>12m</div>
    
    </div>
    <a>
    <div style={{fontSize:12}}>
    hi i am abhi  
    </div>
    </a>
    
  </div>
}
export default App;